<mat-sidenav-container class="app-container" autosize>
  <mat-sidenav #sidenav class="app-sidenav" mode="side" opened="true">
    <mat-nav-list style="padding: 0">
      <mat-form-field class="city-field">
        <mat-label>City</mat-label>
        <input matInput type="text" [(ngModel)]="value" (keyup.enter)="loadWeatherDetails()">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="loadWeatherDetails()">
          <mat-icon>location_on</mat-icon>
        </button>
      </mat-form-field>
    </mat-nav-list>
    <mat-nav-list>
      <!-- WEATHER VIEW -->
      <div>
        <img src="{{imageURL}}" alt="Weather Image">
        <div class="mat-headline-4">{{weatherDescription | titlecase}}</div>

        <div class="mat-headline-1">
          {{todayWeather?.temp | number:'1.0-0'}}&deg;
        </div>
      </div>

      <!-- DATE -->
      <div class="mat-headline-5">
        <span>{{currentTime | date: 'EEE'}}, {{currentTime | date: 'h:mm a'}}</span>
      </div>

      <!-- WEATHER EXTRAS -->
      <div class="mat-headline-5">
        <span>{{location}}</span>
      </div>

      <div class="mat-headline-7">
        <span class="span-text">{{openAIRemarks}}</span>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <div class="main-workspace">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <app-weather-details
      [weatherForecast]="todayWeather"
      [weekForecastData]="weekForecast">
    </app-weather-details>
  </div>

</mat-sidenav-container>
